*~
Doxyfile*
doxygen_sqlite3.db
html# osx
.DS_Store

# doxygen
Doxyfile*
doxygen_sqlite3.db
html
*.tmp
.pio/build/project.checksum
.pio/build/adafruit_feather_esp32s3/.sconsign311.dblite
.pio/build/adafruit_feather_esp32s3/bootloader.bin
.pio/build/adafruit_feather_esp32s3/firmware.map
.pio/build/adafruit_feather_esp32s3/idedata.json
.pio/build/adafruit_feather_esp32s3/libFrameworkArduino.a
.pio/build/adafruit_feather_esp32s3/partitions.bin
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/base64.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/base64.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/cbuf.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/cbuf.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/chip-debug-report.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/chip-debug-report.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/ColorFormat.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/ColorFormat.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/Esp.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/Esp.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-adc.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-adc.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-bt.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-bt.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-cpu.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-cpu.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-dac.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-dac.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-gpio.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-gpio.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-i2c-slave.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-i2c-slave.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-i2c.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-i2c.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-ledc.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-ledc.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-matrix.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-matrix.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-misc.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-misc.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-periman.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-periman.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-psram.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-psram.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-rgb-led.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-rgb-led.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-rmt.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-rmt.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-sigmadelta.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-sigmadelta.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-spi.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-spi.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-time.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-time.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-timer.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-timer.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-tinyusb.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-tinyusb.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-touch-ng.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-touch-ng.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-touch.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-touch.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-uart.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/esp32-hal-uart.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/firmware_msc_fat.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/firmware_msc_fat.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/FirmwareMSC.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/FirmwareMSC.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/freertos_stats.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/freertos_stats.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/FunctionalInterrupt.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/FunctionalInterrupt.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/HardwareSerial.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/HEXBuilder.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/HEXBuilder.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/HWCDC.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/HWCDC.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/IPAddress.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/IPAddress.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/MacAddress.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/MacAddress.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/main.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/main.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/MD5Builder.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/MD5Builder.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/Print.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/Print.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/SHA1Builder.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/SHA1Builder.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/stdlib_noniso.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/stdlib_noniso.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/Stream.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/Stream.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/StreamString.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/StreamString.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/Tone.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/Tone.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/USB.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/USB.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/USBCDC.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/USBCDC.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/USBMSC.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/USBMSC.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/wiring_pulse.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/wiring_pulse.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/wiring_shift.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/wiring_shift.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/WMath.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/WMath.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/WString.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/WString.cpp.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/libb64/cdecode.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/libb64/cdecode.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/libb64/cencode.c.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduino/libb64/cencode.c.o
.pio/build/adafruit_feather_esp32s3/FrameworkArduinoVariant/variant.cpp.d
.pio/build/adafruit_feather_esp32s3/FrameworkArduinoVariant/variant.cpp.o
.pio/build/adafruit_feather_esp32s3/lib578/libWire.a
.pio/build/adafruit_feather_esp32s3/lib578/Wire/Wire.cpp.d
.pio/build/adafruit_feather_esp32s3/lib578/Wire/Wire.cpp.o
.pio/build/adafruit_feather_esp32s3/lib60f/libAdafruit BusIO.a
.pio/build/adafruit_feather_esp32s3/lib60f/Adafruit BusIO/Adafruit_BusIO_Register.cpp.d
.pio/build/adafruit_feather_esp32s3/lib60f/Adafruit BusIO/Adafruit_BusIO_Register.cpp.o
.pio/build/adafruit_feather_esp32s3/lib60f/Adafruit BusIO/Adafruit_GenericDevice.cpp.d
.pio/build/adafruit_feather_esp32s3/lib60f/Adafruit BusIO/Adafruit_GenericDevice.cpp.o
.pio/build/adafruit_feather_esp32s3/lib60f/Adafruit BusIO/Adafruit_I2CDevice.cpp.d
.pio/build/adafruit_feather_esp32s3/lib60f/Adafruit BusIO/Adafruit_I2CDevice.cpp.o
.pio/build/adafruit_feather_esp32s3/lib60f/Adafruit BusIO/Adafruit_SPIDevice.cpp.d
.pio/build/adafruit_feather_esp32s3/lib60f/Adafruit BusIO/Adafruit_SPIDevice.cpp.o
.pio/build/adafruit_feather_esp32s3/libb0f/libAdafruit SH110X.a
.pio/build/adafruit_feather_esp32s3/libb0f/Adafruit SH110X/Adafruit_SH110X.cpp.d
.pio/build/adafruit_feather_esp32s3/libb0f/Adafruit SH110X/Adafruit_SH110X.cpp.o
.pio/build/adafruit_feather_esp32s3/libb0f/Adafruit SH110X/Adafruit_SH1106G.cpp.d
.pio/build/adafruit_feather_esp32s3/libb0f/Adafruit SH110X/Adafruit_SH1106G.cpp.o
.pio/build/adafruit_feather_esp32s3/libb0f/Adafruit SH110X/Adafruit_SH1107.cpp.d
.pio/build/adafruit_feather_esp32s3/libb0f/Adafruit SH110X/Adafruit_SH1107.cpp.o
.pio/build/adafruit_feather_esp32s3/libb7a/libSPI.a
.pio/build/adafruit_feather_esp32s3/libb7a/SPI/SPI.cpp.d
.pio/build/adafruit_feather_esp32s3/libb7a/SPI/SPI.cpp.o
.pio/build/adafruit_feather_esp32s3/libe23/libAdafruit GFX Library.a
.pio/build/adafruit_feather_esp32s3/libe23/Adafruit GFX Library/Adafruit_GFX.cpp.d
.pio/build/adafruit_feather_esp32s3/libe23/Adafruit GFX Library/Adafruit_GFX.cpp.o
.pio/build/adafruit_feather_esp32s3/libe23/Adafruit GFX Library/Adafruit_GrayOLED.cpp.d
.pio/build/adafruit_feather_esp32s3/libe23/Adafruit GFX Library/Adafruit_GrayOLED.cpp.o
.pio/build/adafruit_feather_esp32s3/libe23/Adafruit GFX Library/Adafruit_SPITFT.cpp.d
.pio/build/adafruit_feather_esp32s3/libe23/Adafruit GFX Library/Adafruit_SPITFT.cpp.o
.pio/build/adafruit_feather_esp32s3/libe23/Adafruit GFX Library/glcdfont.c.d
.pio/build/adafruit_feather_esp32s3/libe23/Adafruit GFX Library/glcdfont.c.o
.pio/build/adafruit_feather_esp32s3/src/PM25_test.ino.cpp.d
.pio/build/adafruit_feather_esp32s3/src/PM25_test.ino.cpp.o
.pio/libdeps/adafruit_feather_esp32s3/integrity.dat
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/.piopm
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/Adafruit_BusIO_Register.cpp
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/Adafruit_BusIO_Register.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/Adafruit_GenericDevice.cpp
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/Adafruit_GenericDevice.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/Adafruit_I2CDevice.cpp
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/Adafruit_I2CDevice.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/Adafruit_I2CRegister.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/Adafruit_SPIDevice.cpp
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/Adafruit_SPIDevice.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/CMakeLists.txt
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/component.mk
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/library.properties
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/LICENSE
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/README.md
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/.github/ISSUE_TEMPLATE.md
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/.github/PULL_REQUEST_TEMPLATE.md
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/.github/workflows/githubci.yml
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/examples/genericdevice_uartregtest/.uno.test.skip
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/examples/genericdevice_uartregtest/genericdevice_uartregtest.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/examples/genericdevice_uarttest/.uno.test.skip
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/examples/genericdevice_uarttest/genericdevice_uarttest.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/examples/i2c_address_detect/i2c_address_detect.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/examples/i2c_readwrite/i2c_readwrite.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/examples/i2c_registers/i2c_registers.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/examples/i2corspi_register/i2corspi_register.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/examples/spi_modetest/spi_modetest.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/examples/spi_readwrite/spi_readwrite.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/examples/spi_register_bits/spi_register_bits.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit BusIO/examples/spi_registers/spi_registers.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/.gitignore
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/.piopm
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Adafruit_GFX.cpp
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Adafruit_GFX.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Adafruit_GrayOLED.cpp
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Adafruit_GrayOLED.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Adafruit_SPITFT_Macros.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Adafruit_SPITFT.cpp
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Adafruit_SPITFT.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/CMakeLists.txt
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/component.mk
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/gfxfont.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/glcdfont.c
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/library.properties
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/license.txt
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/README.md
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/.github/ISSUE_TEMPLATE.md
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/.github/PULL_REQUEST_TEMPLATE.md
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/.github/workflows/githubci.yml
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMono9pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMono12pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMono18pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMono24pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMonoBold9pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMonoBold12pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMonoBold18pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMonoBold24pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMonoBoldOblique9pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMonoBoldOblique12pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMonoBoldOblique18pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMonoBoldOblique24pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMonoOblique9pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMonoOblique12pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMonoOblique18pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeMonoOblique24pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSans9pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSans12pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSans18pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSans24pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSansBold9pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSansBold12pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSansBold18pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSansBold24pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSansBoldOblique9pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSansBoldOblique12pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSansBoldOblique18pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSansBoldOblique24pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSansOblique9pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSansOblique12pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSansOblique18pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSansOblique24pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerif9pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerif12pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerif18pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerif24pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerifBold9pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerifBold12pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerifBold18pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerifBold24pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerifBoldItalic9pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerifBoldItalic12pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerifBoldItalic18pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerifBoldItalic24pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerifItalic9pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerifItalic12pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerifItalic18pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/FreeSerifItalic24pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/Org_01.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/Picopixel.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/Tiny3x3a2pt7b.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/Fonts/TomThumb.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/examples/GFXcanvas/GFXcanvas.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/examples/GFXcanvas/GFXcanvasSerialDemo.cpp
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/examples/GFXcanvas/GFXcanvasSerialDemo.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/examples/mock_ili9341/mock_ili9341.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/fontconvert/bdf2adafruit.py
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/fontconvert/fontconvert_win.md
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/fontconvert/fontconvert.c
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/fontconvert/Makefile
.pio/libdeps/adafruit_feather_esp32s3/Adafruit GFX Library/fontconvert/makefonts.sh
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/.gitignore
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/.piopm
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/Adafruit_SH110X.cpp
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/Adafruit_SH110X.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/Adafruit_SH1106G.cpp
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/Adafruit_SH1107.cpp
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/library.properties
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/license.txt
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/README.md
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/splash.h
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/.github/ISSUE_TEMPLATE.md
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/.github/PULL_REQUEST_TEMPLATE.md
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/.github/workflows/githubci.yml
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/examples/OLED_QTPY_SH1106/SH1106_128x64_SPi_QTPY/SH1106_128x64_SPi_QTPY.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/examples/OLED_QTPY_SH1106/SH1106_128x64_i2c_QTPY/SH1106_128x64_i2c_QTPY.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/examples/OLED_featherwing/OLED_featherwing.ino
.pio/libdeps/adafruit_feather_esp32s3/Adafruit SH110X/examples/SH1107_128x128/SH1107_128x128.ino
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
